.badge {
  display: inline-block;
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  font-weight: var(--font-weight-medium);
  border-radius: var(--radius-sm);
  padding: var(--space-1) var(--space-3);
  white-space: nowrap;
}

.badgeLg {
  composes: badge;
  font-size: var(--font-size-subhead);
  line-height: var(--line-height-subhead);
  border-radius: var(--radius-md);
  padding: var(--space-2) var(--space-5);
}
